.Register {
	background-image: url("/assets/images/background-register.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	letter-spacing: 3px;
	color: white;
}

.button {
	border-radius: 5px !important;
	background-color: #dc3545 !important;
	color: white !important;
	letter-spacing: 3px;
	height: 50px;
	width: 100%;
}

.login {
	color: white;
	font-weight: 600;
}

.loading {
	border-radius: 5px !important;
	background-color: #c4c4c4 !important;
	color: black !important;
	letter-spacing: 3px;
	width: 100%;
	height: 50px;
}
